body, html {
    height: 100%;
}

/* ---------------------------------------------Hero block*/

#hero-image {
  background: url("../images/walking.jpg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  height: 350px;
  width: 100%;
  margin: 0;
}

#hero-text {
    color: #fefae0;
    font-family: "Recursive", sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-top: 140px;
    padding: 10px;
    position: relative;
    background-color: rgb(0, 0, 0, 0.6);
}

.navbar {
    background-color: rgb(0, 0, 0, 0.3);
}

.number {
    color: white;
}

a:link, a:visited {
  color: white;
}

a:hover, a:active {
  color: #dda15e;
}

/* ---------------------------------------------Walking text*/

#description {
    color: #212529;
    font-family: -apple-system,BlinkMacSystemFont, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    position: relative;
    padding: 20px;
    letter-spacing: 2px;
    background-color: #606c38;
}

/* ---------------------------------------------Types of walking cards*/

.card {
    background-color: #606c38;
}

.card-img-top {
    padding: 5px;
}

/* ---------------------------------------------Card buttons*/

button {
    color: #dda15e;
    background-color: #606c38;
    width: 200px;
    height: 50px;
    font-weight: bold;
}

.card-Cont-Btn {
    background-color: #606c38;
}

/* ---------------------------------------------Google maps API*/

div#map {min-height: 360px;}

/* ---------------------------------------------Top 6 walks*/

#walkLocations {
    background-color: #dda15e;
}

.topSixHeader {
    padding: 20px;
    color: #212529;
}

.topSix {
    padding: 20px;
    color: #212529;
}

/* ---------------------------------------------Membership*/

.membership {
    padding: 20px;
    color: #212529;
    background-color: #dda15e;
}