body, html {
    height: 100%;
}

/* ---------------------------------------------Hero block*/

#hero-image {
    background: url("../images/walking.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    color: #555;
    font-family: "Recursive", sans-serif;
}

#hero-text {
    color: #fefae0;
    font-family: "Recursive", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-top: 3px;
    width: 100%;
    text-align: center;
    background-color: rgb(0, 0, 0, 0.6);
}

.navbar {
    background-color: #fefae0 !important;
}

.browse-walks-button {
    background: black;
    color: #fefae0;
    min-width: 260px;
}

.container{
    width: 100%;
    text-align: center;
    padding-top: 10px;
  }

.browse-walks-button:hover,
.browse-walks-button:active,
.browse-walks-button:focus{
    background: #606c38;
    color: #fefae0;
}

.nav-item {
    color: black;
    font-family: "Recursive", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: large;
    padding: 3px;
}

.nav-link:hover,
.nav-link:active,
.nav-link:focus {
    background: #606c38;
}

/* ---------------------------------------------Walking text*/

#description {
    color: black;
    font-family: "Recursive", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    text-align: center;
    padding: 20px;
    letter-spacing: 2px;
    background-color: #dda15e;
}

/* ---------------------------------------------Types of walking cards*/

.card-group {
    background-color: #dda15e;
}

.card {
    background-color: #dda15e;
    border: 0;
}

.card-body { 
    text-align: center;
    border: 0;
}

.card-footer {
    border: 0;
}

.card-img-top {
    padding: 10px;
}

/* ---------------------------------------------Card buttons*/

.card-button {
    color: #dda15e;
    background-color: black;
    width: 200px;
    height: 50px;
    font-weight: bold;
    border-radius: 10px;
    border: 4px
}

.card-button:hover {
    color: black;
    background-color: #dda15e;
}

.card-footer {    
    background-color: #dda15e;    
    display: flex;  
    justify-content: center;  
    align-items: center;
    }

/* ---------------------------------------------Suitable walks button alerts*/
    .alert {
	display: none;
	padding: 20px;
	background-color: #606c38;
	color: #fefae0;
    }

    .closebtn {
	margin-left: 15px;
	color: #fefae0;
	font-weight: bold;
	float: right;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.3s;
    }

/* ---------------------------------------------Google maps API*/

.map-container {
    background-color: #dda15e; 
    padding: 20px;
}

#map {
    min-height: 360px;
    margin: 10px;
}

/* ---------------------------------------------Top 6 walks*/

#walkLocations {
    background-color: #dda15e;  
    padding: 20px;
    display: inline-block;
}

.topSixHeader {
    text-align: center;
    padding: 20px;
    color: #212529;
}

.topSix {
    padding: 20px;
    color: #212529;
    background-color: #dda15e;
}

.walks {
    color: #212529;
    background-color: #dda15e;
}

.top-6-image {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin-left: 20px;
}

/* ---------------------------------------------Membership*/

.membership {
    text-align: center;
    padding: 20px;
    color: black;
    background-color: #dda15e;
    background-size: cover;
    height: 100vh;
}

.mem-head {
    padding: 20px;
}

.mem-desc {
    padding: 10px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 0;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #283618}
tr:nth-child(odd){background-color: #606c38}

.discBtn {
    text-align: center;
    color: black;
    font-weight: bold;
    background-color: #dda15e
}

.discBtn:hover {
    color: white;
    background-color: #dda15e;
}

#discount {
    background-color: #dda15e;
    font-size: large;
    color: black;
    text-align: center;
    padding: 10px;
    font-weight: bold;
}

/* ---------------------------------------------Contact*/

.contact {
    text-align: center;
    padding: 20px;
    color: black;
    background-color: #dda15e;
    background-size: cover;
    height: 100vh;
}

a:link, a:visited {
    color: #fefae0;
    font-family: "Recursive", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: large;
    padding: 3px;
}
  
a:hover, a:active {
    color: #606c38;
    font-family: "Recursive", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: large;
    padding: 3px;
}

.contact-heading {
     padding: 20px;
}

.contact-txt {
    padding: 10px;
}

.contact-form {
    display: inline-block;
}
